<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>  
    <div id="task_form_errors" class="messages">  
      Oops. Clean up this shit:
      <ul>  
        <% @task.errors.full_messages.each do |msg| %>  
          - <%= msg %>
        <% end %>  
      </ul>  
    </div>  
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    Include due date <%= check_box_tag 'include due date', 1, false, :class => 'toggle_next_element' %>
  </div>
  <div id="task_form_options" class="hideable default_hidden">
    <div id="due_date" class="field">
      <%= f.hidden_field :due %>
    </div>
    <div class=field>
      <%= f.label :schedule_id, 'Repeat this task:' %>
      <%= f.select :schedule_id, Schedule.all.collect { |s| [ s.name, s.id ] } %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Save this shit"%>
  </div>
<% end %>