<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>  
    <div id="task_form_errors" class="messages">  
      <p>Oops. Clean up this shit:</p>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>  
          - <%= msg %>
        <% end %>
      </ul>  
    </div>  
  <% end %>
  <div class="field">
    <%= f.label :title, 'Task name' %>
    <%= f.text_field :title, :tabindex => '1', :title => 'This appears in your list view.' %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :tabindex => '2', :title => 'Add an optional description.' %>
  </div>
  <div class="checkboxes field">
    Tags:
    <% Tag.all.each do |tag| %>
      <%= label_tag tag.name, tag.name %>
      <%= check_box_tag "task[tag_ids][]", tag.id, @task.tags.exists?(tag) %>
    <% end %>
  </div>
  <div class="field">
    Include due date <%= check_box_tag 'include due date', 1, !@task.due.blank?, :class => 'toggle_next_element', :tabindex => '4' %>
  </div>
  <div id="task_form_options" class="hideable default_hidden">
    <div id="due_date" class="field left">
      <%= f.hidden_field :due %>
    </div>
    <div class="field right half">
      <%= f.label :schedule_id, 'Repeat this task:' %>
      <%= f.select :schedule_id, Schedule.all.collect { |s| [ s.name, s.id ] }, :tabindex => '5' %>
    </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions last-right">
    <%= f.submit "Save", :tabindex => '6'%>
  </div>
<% end %>