<section id="right_column" class="right">
  <h1>Add Shit <span class="toggle_next_element subtle">-/+</span></h1>
  <div id="add" class="hideable margin_bottom_20">
    <%= render 'form' %>
  </div>
  <% if Task.completed_today.any? %>
    <h1>Completed Shit <span class="subtle">[<%= Task.completed_today.count %>]</span> <span class="toggle_next_element subtle">-/+</span></h1>
    <div id="completed" class="hideable">
      <table id="completed_table">
        <% Task.completed_today.each do |task| %>
          <tr class="top_line">
            <td><%= task.title %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</section>
<section id="left_column">
  <h1>Pending Shit</h1>
  <table id="pending_table">
    <tr>
      <th>Due</th>
      <th>Task</th>
      <th></th>
      <th></th>
    </tr>
    <% Task.overdue.each do |task| %>
      <tr class="overdue top_line">
        <td class="subtle due_cell"><%= time_ago_in_words(task.due).capitalize %> ago</td>
        <td class="title_cell"><%= task.title %></td>
        <td>
          <%= form_for(task) do |f| %>
            <%= f.hidden_field :complete, :value => DateTime.now %>
            <div class="actions">
              <%= f.submit "Completed"%>
            </div>
          <% end %>
        </td>
        <td class="toggle_next_element subtle">-/+</td>
      </tr>
      <tr class="hideable default_hidden">
        <td colspan="3" class="subtle"><%= task.description %></td>
      </tr>
    <% end %>
    <% Task.due_today.each do |task| %>
      <tr class="due_today top_line">
        <td class="subtle due_cell">In <%= distance_of_time_in_words(Time.now, task.due) %></td>
        <td class="title_cell"><%= task.title %></td>
        <td>
          <%= form_for(task) do |f| %>
            <%= f.hidden_field :complete, :value => DateTime.now %>
            <div class="actions">
              <%= f.submit "Completed"%>
            </div>
          <% end %>
        </td>
        <td class="toggle_next_element subtle">-/+</td>
      </tr>
      <tr class="hideable default_hidden">
        <td colspan="3" class="subtle"><%= task.description %></td>
      </tr>
    <% end %>
    <% Task.no_due_date.each do |task| %>
      <tr class="top_line">
        <td class="subtle due_cell">-</td>
        <td class="title_cell"><%= task.title %></td>
        <td>
          <%= form_for(task) do |f| %>
            <%= f.hidden_field :complete, :value => DateTime.now %>
            <div class="actions">
              <%= f.submit "Completed"%>
            </div>
          <% end %>
        </td>
        <td class="toggle_next_element subtle">-/+</td>
      </tr>
      <tr class="hideable default_hidden">
        <td colspan="3" class="subtle"><%= task.description %></td>
      </tr>
    <% end %>
    <% Task.due_beyond_today.each do |task| %>
      <tr class="top_line">
        <td class="subtle due_cell">In <%= distance_of_time_in_words(Time.now, task.due) %></td>
        <td class="title_cell"><%= task.title %></td>
        <td>
          <%= form_for(task) do |f| %>
            <%= f.hidden_field :complete, :value => DateTime.now %>
            <div class="actions">
              <%= f.submit "Completed"%>
            </div>
          <% end %>
        </td>
        <td class="toggle_next_element subtle">-/+</td>
      </tr>
      <tr class="hideable default_hidden">
        <td colspan="3" class="subtle"><%= task.description %></td>
      </tr>
    <% end %>
  </table>
</section>