<section id="right_column" class="right">
  <h1>Add</h1>
  <div id="quick_add" class="right">
    <%= form_for @task do |f| %>
      <div class="field left no_margin">
        <%= f.text_field :title, :tabindex => '1' %>
        <%= f.hidden_field :created_by, :value => current_user.id %>
        <%= hidden_field_tag "task[user_ids][]", current_user.id %>
      </div>
      <div class="actions right">
        <%= f.submit '', :id => 'add_task_submit', :class => 'add_icon right', :tabindex => '2' %>
      </div>
      <%= f.submit '+ with options', :class => 'right', :id => 'add_task_with_options_submit', :tabindex => '3' %>
    <% end %>
  </div>
  <h1>Done</h1>
  <div id="complete">
    <div id="completed_table">
      <% if current_user.tasks.completed_today.count == 0 %>
        <div class="top_line subtle completed_task">
          <div>You ain't done shit today.</div>
        </div>
      <% end %>
      <% current_user.tasks.completed_today.each do |task| %>
        <div class="top_line completed_task">
          <% if task.completed_by != current_user.id %>
            <div class="subtle right">
              <% completed_by = User.find_by_id(task.completed_by) %>
              <%= completed_by.username.capitalize %>
            </div>
          <% end %>
          <%= task.title %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section id="left_column">
  <h1>Pending</h1>
  <div id="pending_table">
    <% @pending_tasks.each do |task_group, tr_class| %>
      <% task_group.each do |task| %>
        <div class="top_line <%= tr_class %> pending_task">
          <div class="toggle_next_element toggle_down right"></div>
          <div class="right">
            <%= form_for(task) do |f| %>
              <%= f.hidden_field :complete, :value => DateTime.now %>
              <%= f.hidden_field :completed_by, :value => current_user.id %>
              <div class="actions right">
                <%= f.submit '', :class => 'complete_icon' %>
              </div>
            <% end %>
          </div>
          <div class="subtle due_date right">
            <% if task.due.blank? %>
              -
            <% elsif task.due < Time.now %>
              Due <%= time_ago_in_words(task.due) %> ago
            <% else %>
              Due in <%= distance_of_time_in_words(Time.now, task.due) %>
            <% end %>
          </div>
          <span class="title_cell"><%= task.title %></span>
        </div>
        <div class="hideable pending_task_bottom default_hidden <%= tr_class %>">
          <div><%= button_to '', edit_task_path(task), :class => 'edit_icon right', :method => :get %></div>
          <div><%= button_to '', task, :confirm => 'Make this go away?', :method => :delete, :class => 'delete_icon right' %></div>
          <div class="subtle due_date right">
            <% if !task.due.blank? %>
              ( <%= task.due.strftime('%-m/%-d %-I:%M %p') %> )
            <% end %>
          </div>
          <span class="subtle">
            Notes: 
            <% if !task.description.blank? %>
              <%= task.description %>
            <% else %>
              -
            <% end %><br />
            Tags: 
            <% if !task.tags.empty? %>
              <% task.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
              <% else %>
              -
            <% end %><br />
            Shared with:
            <% if task.users.count > 1 %>
              <% task.users.each do |user| %>
                <% if user != current_user %>
                  <%= user.username.capitalize %>
                  <% if user.id == task.created_by %>
                    (creator)
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              -
            <% end %>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>
</section>