<h1>Sign In</h1>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, :tabindex => 1 %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :tabindex => 2 %>
  </div>
  <div class="field checkboxes">
    <%= f.label :remember_me %>
    <%= f.check_box :remember_me, :tabindex => 3 %> 
  </div>
  <div class="actions">
    <%= f.submit "Sign in", :tabindex => 4 %>
  </div>
<% end %>
<%= render :partial => "devise/shared/links" %>