<!DOCTYPE html>
<html>
  <head>
    <title>Get Shit Done</title>
    <%= stylesheet_link_tag('reset') %>
    <%= stylesheet_link_tag('main') %>
    <%= stylesheet_link_tag('jquery-ui-1.8.13.custom') %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="app_header">
      <div id="app_header_inner" class="inner">
        <%= link_to 'Get Shit Done', :root %>
        <div class="right">
          <span class="subtle"><%= Time.now.strftime('%B %d') %></span>
          <%= Time.now.strftime('%I:%M') %>
          <span class="subtle"><%= Time.now.strftime('%p') %></span>
        </div>
      </div>
    </div>
    <div id="menu_and_messages">
      <div id="menu_and_messages_inner" class="inner">
        <nav id="menu">
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Add Shit', new_task_path %></li>
          </ul>
        </nav>
        <div id="messages" class="messages right">
          <%= render 'shared/messages' %>
        </div>
      </div>
    </div>
    <section id="content" class="inner">
      <%= yield %>
    </section>
  </body>
</html>
