<!DOCTYPE html>
<html>
  <head>
    <title>Get Shit Done</title>
    <%= stylesheet_link_tag('reset') %>
    <%= stylesheet_link_tag('main') %>
    <%= stylesheet_link_tag('jquery-ui-1.8.13.custom') %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="app_header">
      <div id="app_header_inner" class="inner">
        Get Shit Done
        <div class="right">
          <span class="subtle"><%= Time.now.strftime('%B %d') %></span>
          <%= Time.now.strftime('%I:%M') %>
          <span class="subtle"><%= Time.now.strftime('%p') %></span>
        </div>
      </div>
    </div>
    <div id="messages">
      <div id="messages_inner" class="inner messages">
        <%= render 'shared/messages' %>
      </div>
    </div>
    <section id="content" class="inner">
      <%= yield %>
    </section>
  </body>
</html>
