<!DOCTYPE html>
<html>
  <head>
    <title>Get Shit Done</title>
    <%= stylesheet_link_tag('reset') %>
    <%= stylesheet_link_tag('main') %>
    <%= stylesheet_link_tag('jquery-ui-1.8.13.custom') %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="app_header">
      <div id="app_header_inner" class="inner">
        <%= link_to 'Get Shit Done', :root %>
        <div id="datetime" class="right">
          <div id="clock" class="right">
            <%= Time.now.strftime('%l:%M') %>
            <span class="subtle"><%= Time.now.strftime('%p') %></span>
          </div>
          <span id="date" class="subtle"><%= Time.now.strftime('%-m/%-d')%></span> 
        </div>
      </div>
    </div>
    <div id="menu_and_messages">
      <div id="menu_and_messages_inner" class="inner">
        <nav id="menu" class="right">
          <li>
            <% if user_signed_in? %>
              <%= link_to 'Sign out', destroy_user_session_path %>
            <% else %>
              <%= link_to 'Sign in', new_user_session_path %>
            <% end %>
          </li>
        </nav>
        <div id="quick_add" class="left">

        </div>
        <div id="messages" class="messages left">
          <%= render 'shared/messages' %>
        </div>
      </div>
    </div>
    <section id="content" class="inner">
      <%= yield %>
    </section>
  </body>
</html>


