<!DOCTYPE html>
<html>
<head>
  <title>Get Shit Done</title>
  <%= stylesheet_link_tag('reset') %>
  <%= stylesheet_link_tag('main') %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag('jquery') %>
  <%= javascript_include_tag('jquery.stopwatch') %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="app_header">
    <div id="app_header_inner" class="inner">
      Get Shit Done
      <div class="right">
        <span class="subtle"><%= Time.now.strftime('%B %d') %></span>
        <%= Time.now.strftime('%I:%M') %>
        <span class="subtle"><%= Time.now.strftime('%p') %></span>
      </div>
    </div>
  </div>
  <section id="content" class="inner">
    <%= yield %>
  </section>
</body>
</html>
